html,
body {
    background-image: url(/images/fone.jpeg?2db1a94ca6e10dcaea2ea9320582b267);
    background-size: 100%;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-family: verdana, arial, sans-serif;
}

body {
    color: #fff;
    font-size: 1.1em;
    /*padding: 1em;*/
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    /*border: red 1px solid;*/
}

section {
    padding: 7% 0;
    margin: auto;
    width: 80%;
}

section h2 {
    text-align: center;
    padding: 10px;
    color: #b3b7bb;
}

aside {
    flex: 1;
    background-color: #37474f;
    background-attachment: fixed;
    margin-top: 5%;
    order: -1;
    max-width: 220px;
}

.header, .footer {
    display: flex;
    margin-top: 25px;
    background-color: rgb(47, 58, 68);
    height: 8%;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    background-color: rgb(47, 58, 68);
    height: 8%;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: auto;
}

.form-review {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    background-color: #4a5568;
    border-radius: 2%;
    padding: 10px;
}

.form-review input,
.form-review textarea {
    width: 420px;
    margin: auto;
}

.green {
    text-align: center;
}

.button {
    width: 20%;
}

.reg_auth {
    display: flex;
    width: 18%;
    margin-right: 2%;
    flex-direction: row;
    justify-content: space-around;
}

.reg_auth a {
    color: #7fd24f;
    text-decoration: none;
}

.top {
    position: fixed;
    display: flex;
    margin-top: 0;
    z-index: 1000;
    height: 25px;
    width: 100%;
    background-color: rgb(47, 58, 68);
}

.top p {
    margin-left: 25px;
    color: #b3b7bb;
    /*font-family: Brush Script MT, serif ;*/
    font-family: Trattatello, fantasy;
}

.top a {
    display: block;
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
    cursor: pointer;
}

.message {
    margin: 0;
    padding: 0;
}

.pag {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.roles {
    margin-left: 30%;
    /*text-align: center;*/
}
/*.roles {*/
/*    width: 22%;*/
/*    margin-left: 37%;*/
/*    background-color: #4a5568;*/
/*    border-radius: 2%;*/
/*    padding: 10px;*/
/*}*/

/*.roles a,*/
/*.roles button,*/
/*.roles label {*/
/*    width: 130px;*/
/*    margin-left: 18%;*/
/*}*/
    /*---------------Sidebar---------------*/

.sidebar-nav {
    position: fixed;
    padding: 10% 0 0 0;
    list-style: none;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    min-width: 220px;
    text-decoration: none;
    color: #fff;
    background-color: #10707f;
}

/*--------------changing size-----------------*/

@media screen and (min-width: 600px) {
    body {
        min-height: 100vh;
    }

    main {
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
    }
}

/*--------------------------------------------*/

