@import "bootstrap/dist/css/bootstrap.css";

@import "admin-lte/plugins/fontawesome-free/css/all.min.css";
@import "admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css";
@import "admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css";
@import "admin-lte/plugins/jqvmap/jqvmap.min.css";
@import "admin-lte/dist/css/adminlte.min.css";
@import "admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css";
@import "admin-lte/plugins/daterangepicker/daterangepicker.css";
@import "admin-lte/plugins/summernote/summernote-bs4.min.css";

/*@font-face {*/
/*    font-family: heinrich;*/
/*    src: url('../../public/fonts/@font-face/heinrich.ttf'),*/
/*    url('../../public/fonts/@font-face/heinrich.eot');*/
/*}*/

html,
body {
    /*background-image: url("../../public/images/fone.jpeg");*/
    background-size: 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font: 0.9em/1.2 BlinkMacSystemFont,-apple-system,Arial,Segoe UI,Roboto,Helvetica,sans-serif;
    color: #1d2124;
    overflow-x: hidden;
}

html,
body a {
    color: #1d2124;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /*padding-top: 0;*/
    /*margin-top: 0;*/
}

.content {
    margin: 1em 1em 1em 4em;
    overflow: auto;
}

section {
    display: flex;
    flex-direction: column;
    margin: 10% 2% 2% 20%;
    /*padding-left: 18%;*/
    width: 96%;
}

section h2 {
    text-align: center;
    color: #b3b7bb;
}

aside {
    position: fixed;
    height: 100%;
    width: 20%;
    z-index: 1;
    /*background-color: rgb(24, 22, 35, 1);*/
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

.header, .footer {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    /*height: 50px;*/
    /*padding: 25px;*/
    align-items: center;
    justify-content: space-around;

}

footer p {
    margin: auto;
}

.table td {
    vertical-align: middle;
}

.form-review {
    text-align: center;
    width: 60%;
    background-color: #4a5568;
    border-radius: 2%;
    padding: 10px;
}

.form-review input,
.form-review textarea {
    width: 95%;
    margin: auto;
}

.review {
    background-color: rgb(75, 81, 104);
    color: whitesmoke;
    border-radius: 2%;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 77%;
}

.review a {
    width: 30%;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
}

.container {
    margin: 1rem;
}

.green {
    text-align: center;
}

.button {
    width: 20%;
}

/*.reg_auth {*/
/*    display: flex;*/
/*    width: 18%;*/
/*    margin-right: 2%;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*}*/

/*.reg_auth a {*/
/*    color: #7fd24f;*/
/*    text-decoration: none;*/
/*    transition: transform 1s ease-in-out;*/
/*    !*transition: color 2s, box-shadow 1.5s*!*/
/*}*/

/*.reg_auth a:hover {*/
/*    color: #7fd24f;*/
/*    transform: scale(1.3);*/
/*    !*box-shadow: 10px 10px 10px 1px rgba(0,0,0, 0.5);*!*/
/*    text-decoration: none;*/
/*}*/

.top {
    display: flex;
    flex-direction: row;
    height: 2rem;
    z-index: 21;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(47, 58, 68);
}

.top p {
    margin-left: 25px;
    color: #b3b7bb;
    font-family: Trattatello, fantasy;
}

.top a {
    display: block;
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
    cursor: pointer;
}

.pag {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.roles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: rgb(21, 42, 62);
    text-align: center;
}

.create {
    width: 90px;
}

.form-roles {
    background-color: #4a5568;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 45%;
}

/*---------------Sidebar---------------*/

.sidebar {
    background-color: rgb(24, 22, 35, 1);
    height: 100vh;

}

.sidebar-nav {
    padding: 5% 0;
    width: 25%;
    list-style: none;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    width: 100%;
    text-decoration: none;
    color: #fff;
    background-color: #10707f;
}

/*--------------changing size-----------------*/

@media screen and (min-width: 600px) {
    body {
        min-height: 100vh;
    }

    main {
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
    }
}

.test {
    margin: 6px;
    border-top: 2px solid grey;
    height: 100%;
}

/*---------------------SearchForm--------------------------------------*/
/*.searchForm {*/
/*    position: absolute;*/
/*    margin-left: 85%;*/
/*    margin-right: 0;*/
/*    width: 150px;*/
/*    transition: all 0.3s;*/
/*}*/
/*.focused{*/
/*    width: fit-content;*/
/*    margin-left: 77%;*/
/*    margin-right: 0;*/
/*    transition: all 0.3s;*/
/*}*/
/*-----------------------------------------------------------------------*/
.cart a {
    min-width: 150px;
}

/*----------------------------Search-----------------------------------*/

#myModal_Search {
    margin-top: 5%;
    margin-left: 65%;
    width: 400px;
    height: auto;
    border: none;
}

.result {
    background-color: white;
}

#search.modal-footer {
    display: none;
}

.results li {
    width: 300px;
    height: auto;
}

.results > li:hover {
    /*border: #0c9c0d 2px solid;*/
    color: #00a87d;
    cursor: pointer;
}


.arrow-5-top {
    position: relative;
    z-index: 10;
}

.arrow-5-top::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
}

.arrow-5-top::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
    left: 50%;
    border-bottom: 10px solid whitesmoke;
    top: -9px;
}

/*--------------------------dropdown--------------------------------*/

.drop a {
    color: #343a40;
    padding: 10px;
    margin: 0;
}

/*--------------------------Raiting--------------------------------*/
.rating-area {
    overflow: hidden;
}

/*.rating-area:not(:checked) > input {*/
/*    display: none;*/
/*}*/

/*.rating-area:not(:checked) > label {*/
/*    float: right;*/
/*    width: 26px;*/
/*    padding: 0;*/
/*    cursor: pointer;*/
/*    font-size: 21px;*/
/*    line-height: 21px;*/
/*    color: lightgrey;*/
/*}*/

/*.rating-area:not(:checked) > label:before {*/
/*    content: '★';*/
/*}*/

/*.rating-area > input:checked ~ label {*/
/*    color: gold;*/
/*}*/


/*.rating-area > input:checked + label:hover,*/
/*.rating-area > input:checked + label:hover ~ label,*/
/*.rating-area > input:checked ~ label:hover,*/
/*.rating-area > input:checked ~ label:hover ~ label,*/
/*.rating-area > label:hover ~ input:checked ~ label {*/
/*    color: gold;*/
/*}*/

/*.rate-area > label:active {*/
/*    position: relative;*/
/*}*/
/*.stars {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.rating-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-star {
    width: 24px;
    height: 24px;
}

.active {
    fill: rgb(255, 174, 14);
}

.inactive {
    fill: rgb(210, 210, 210)
}

* {
    box-sizing: border-box;
}

/*---------------------------------menu_product------------------------------*/
.menu-product {
    background-color: rgb(245, 245, 245);
    text-decoration: none;
    list-style-type: none;
}

.router-link {
    cursor: pointer;
    color: #00b44e;

}

.router-link:hover {
    color: #2b6b4f;
}

.menu-product > li > .menu-product-active {
    color: #2b6b4f;
}

/*-----------------------------------product_title--------------------------------*/
.product_title {
    font-size: 2em;
    font-family: "Helvetica Neue", sans-serif;
}

/*-----------------------------------Menu--------------------------------*/
.product_menu > div > a {
    color: #00b44e;
}

.product_menu > div > a:hover {
    color: #2b6b4f;
}

/*--------------------------------------------------------------------------*/
.menu-list {
    position: relative;
    width: 30%;
    height: 80px;
}

.menu_categ {
    position: absolute;
    width: 100%;
    height: 65%;
    left: 130px;
    bottom: 0;
    right: 0;
    top: 18px;
    padding: 5px;
    display: none;
}

.menu-list > ul > li > a:hover, .list:hover {
    color: #10707f;
}

.menu-list > ul > li > .menu_category:hover .menu_categ {
    display: block;
}

/*---------------------------Aside-admin-avtar-----------------------*/
.avatar-aside {
    height: 50px;
}
