* {
    box-sizing: border-box;
}

html,
body {
    background-image: url("../../public/images/fone.jpeg");
    background-size: 100%;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-family: verdana, arial, sans-serif;
}

body {
    color: #fff;
    font-size: 1.1em;
    /*padding: 1em;*/
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    /*border: red 1px solid;*/
}

section {
    padding: 6% 0;
    margin: auto;
    width: 80%;
}

section h2 {
    text-align: center;
    padding: 10px;
    color: #b3b7bb;
}

aside {
    flex: 1;
    background-color: #37474f;
    background-attachment: fixed;
    order: -1;
    max-width: 220px;
}

.sidebar-wrapper {
    position: fixed;
}

header, footer {
    display: flex;
    background-color: #37474f;
    height: 8%;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: auto;
}

.form-review {
    /*align-items: center;*/
    /*justify-content: center;*/
    text-align: center;
    width: 50%;
    margin-left: 25%;
    background-color: #4a5568;
    border-radius: 2%;
    padding: 10px;
}

.form-review input,
.form-review textarea {
    width: 420px;
    margin: auto;
}

.green {
    text-align: center;
}

.button {
    width: 20%;
}
/*---------------Sidebar---------------*/

aside div .sidebar-nav {
    position: fixed;
    padding: 10% 0 0 0;
    list-style: none;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    min-width: 220px;
    text-decoration: none;
    color: #fff;
    background-color: #10707f;
}

/*--------------changing size-----------------*/
@media screen and (min-width: 600px) {
    body {
        min-height: 100vh;
    }

    main {
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
    }
}

/*--------------------------------------------*/
